# 1) Printing Patterns using loops

In [2]:
for i in range(5):
    n = i+1
    print( n * "*" )

*
**
***
****
*****

In [3]:
for i in range (5 ,0, -1):
    n = i
    print( n * "*" )

*****
****
***
**
*

In [10]:
k = 4
for i in range(5):
    n = i+1
    for j in range (k,0,-1) :
        print(end = " ")
    print( n * "*" )
    k = k-1

    *
   **
  ***
 ****
*****

In [18]:
k = 5
for i in range(1,10,2):
    n = i
         
    for j in range (k,0,-1) :
        print(end = " ")
    
    print( n * "*" )
    k = k-1

     *
    ***
   *****
  *******
 *********

# 2) Write a function to check if a number is prime.

In [18]:
num = int(input("Enter the number : "))

if (num==1):
    print(f'No, {num} is not a Prime Number')
elif (num==2):
    print(f'Yes, {num} is a Prime Number')
else:
    n = num
    count = 0
    for i in range(2,n,1):
        if(num%i==0):
            break
        else:
            count = count+1
    if(count == n-2):
        print(f'Yes, {num} is a Prime Number')
    else:
        print(f'No, {num} is not a Prime Number')

Enter the number :  15

No, 15 is not a Prime Number

# 3) Write a Python program to print Fibonacci series up to 20 terms.

In [2]:
print("Fibonacci Series up to 20 terms is :")
a = 0
b = 1
print(a)
print(b)
for i in range(18):
    c = a+b
    print(c)
    a = b
    b = c

Fibonacci Series up to 20 terms is :
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

# 4) Write the Factorial value of an integer.

In [1]:
def fact(n):
    if n==0 or n==1 :
        return 1
    else:
        return (n * fact(n-1))

num = int(input("Enter the value to find its factorial value : "))
result = fact(num)
print(f'The factorial value of {num} is :', result)

Enter the value to find its factorial value :  5

The factorial value of 5 is : 120

# 5) Count vowels and consonants in a string.

In [5]:
x = input("Enter any word or sentence : ")

string = x.lower()
v_count = 0
c_count = 0

for i in string :
    if (i != ' ') :
        if (i=='a' or i=='e' or i=='i' or i=='o' or i=='u') :
            v_count += 1
        else :
            c_count += 1

print("Vowels count :",v_count)
print("Consonants count :",c_count)

Enter any word or sentence :  my NAME is Kapil guPTA

Vowels count : 7
Consonants count : 11

# 6) Reverse a string without using slicing.

In [22]:
string = input("Enter a String : ")
print()

lst = list(string)
n = len(lst)
lst2 = []

for i in range(n,0,-1):
    lst2.append(lst[i-1])
   
rev_string = ''.join(lst2)

print("After Reversing the string : ",rev_string)

Enter a String :  My name is kapil

After Reversing the string :  lipak si eman yM

# 7) Remove duplicate elements from a list without using set().

In [25]:
lst = ['a', 1, 1, 'd', 'a', 4, 65, 'd', 4, 90, 10, 11, 4]

lst2 = []
for i in lst :
    if i not in lst2:
        lst2.append(i)
    else:
        continue

print("Original list :")
print(lst)
print()
print("Unique list after removing duplicates : ",)
print(lst2)

Original list :
['a', 1, 1, 'd', 'a', 4, 65, 'd', 4, 90, 10, 11, 4]

Unique list after removing duplicates :
['a', 1, 'd', 4, 65, 90, 10, 11]

# 8) Merge two dictionaries into one.

In [34]:
dic1 = { 'Name':'Max', 'Age':25, 'Country':'America' }
print("Dictionary 1 : ", dic1)

dic2 = { 'Sex':'Male', 'id':123 }
print("Dictionary 2 : ", dic2)
print()

# option 1
new_dic = dic1|dic2
print("After Merging both dictionaries :")
print(new_dic)
print()

# option 2
new_dic2 = {**dic1,**dic2}
print("After Merging both dictionaries (by another way) :")
print(new_dic2)

Dictionary 1 :  {'Name': 'Max', 'Age': 25, 'Country': 'America'}
Dictionary 2 :  {'Sex': 'Male', 'id': 123}

After Merging both dictionaries :
{'Name': 'Max', 'Age': 25, 'Country': 'America', 'Sex': 'Male', 'id': 123}

After Merging both dictionaries (by another way) :
{'Name': 'Max', 'Age': 25, 'Country': 'America', 'Sex': 'Male', 'id': 123}

# 9) Find the second largest number in a list.

In [39]:
lst = [51,52,63,72,11,37,88,49,43,45]
lst2 = sorted(lst,reverse=True)
print("List :", lst)
print("The second largest number in the list is : ", lst2[1])

List : [51, 52, 63, 72, 11, 37, 88, 49, 43, 45]
The second largest number in the list is :  72

# 10)  Create a class Student that stores name, marks & displays percentage.

In [44]:
class student:
    def __init__(self,name, marks):
        self.name = name
        self.marks = marks
   
    def score(self):
        per = (self.marks/500)*100
        print("Name : ", self.name)
        print("Marks obtained : ", self.marks)
        print("Percentage : ", per)

obj = student('Max',300)
obj.score()

Name :  Max
Marks obtained :  300
Percentage :  60.0

# 11) Sort a list of tuples by the second element.

In [53]:
lst = [(5,3), (2,1), (9,5), (6,2), (1,4)]

lst2 = []
for i in lst:
    lst2.append(i[1])

lst3 = sorted(lst2)
new_lst = []

for i in lst3:
    for j in lst:
        if j[1]==i:
            new_lst.append(j)

print("Original list :")
print(lst)
print("After sorting by second element (ascending order) : ")
print(new_lst)

Original list :
[(5, 3), (2, 1), (9, 5), (6, 2), (1, 4)]
After sorting by second element (ascending order) :
[(2, 1), (6, 2), (5, 3), (1, 4), (9, 5)]

In [52]:
# by using lambda function

lst = [(5,3), (2,1), (9,5), (6,2), (1,4)]

sorted_lst = sorted( lst, key = lambda x: x[1] )

print("Original list :")
print(lst)
print("After sorting by second element (ascending order) : ")
print(new_lst)

Original list :
[(5, 3), (2, 1), (9, 5), (6, 2), (1, 4)]
After sorting by second element (ascending order) :
[(2, 1), (6, 2), (5, 3), (1, 4), (9, 5)]